<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar Fichajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Fichaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="fichajes.length > 0; else noFichajes">
    <div *ngFor="let fichaje of fichajes">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Detalles del Fichaje</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>ID Fichaje:</strong> {{ fichaje.idFichaje }}</p>
          <p><strong>Fecha de Entrada:</strong> {{ fichaje.FechaHoraEntrada }}</p>
          <p><strong>Horas Trabajadas:</strong> {{ this.horasTrabajadas }}</p>
          <p><strong>Trabajo:</strong> {{ fichaje.trabajoNombre }}</p>
          <p><strong>Dirección:</strong> {{ direccionGeorreferenciada }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="button-container">
      <ion-button expand="block" color="danger" (click)="finalizarFichaje()">
        Finalizar fichaje
      </ion-button>
    </div>    
  </ng-container>

  <ng-template #noFichajes>
    <form>
      <ion-item>
        <ion-label position="stacked">Hora de Entrada</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mm:ss" [(ngModel)]="horaEntrada" name="horaEntrada"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Trabajos</ion-label>
        <ion-select [(ngModel)]="trabajoSeleccionado" name="trabajoSeleccionado" placeholder="Selecciona un trabajo" interface="popover">
          <ion-select-option *ngFor="let trabajo of trabajos" [value]="trabajo.idTrabajo">
            {{ trabajo.Nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" color="primary" type="submit" (click)="realizarFichaje()" [disabled]="!trabajoSeleccionado || !horaEntrada">
        Registrar Fichaje
      </ion-button>
    </form>
  </ng-template>

</ion-content>

<style>
  .button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-button {
    width: 80%;
    max-width: 400px;
  }
</style>