<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>gestionTrabajos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de trabajos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="crearTrabajo()">
    Crear Trabajo
  </ion-button>

  <ng-content *ngIf="trabajos.length > 0;">
    <div *ngFor="let trabajo of trabajos">
      <ion-card>
        <ion-card-header>
          ID de Trabajo: {{trabajo.idTrabajo}}
          <ion-button fill="clear" (click)="editarTrabajo(trabajo.idTrabajo)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          <p>
            <strong>Nombre</strong> {{trabajo.Nombre}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-content>

</ion-content>
