<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">ID Usuario</ion-label>
      <ion-input type="number" [(ngModel)]="id" name="id" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="clave" name="clave" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Crear Usuario</ion-button>
    <ion-button expand="full" color="light" (click)="goBack()">Volver</ion-button>
  </form>
</ion-content>
