<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Trabajos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Trabajos</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit()">
    <!-- <ion-item>
      <ion-label position="stacked">ID</ion-label>
      <ion-input type="number" [(ngModel)]="trabajoID" name="trabajoID" required></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Actualizar Trabajo</ion-button>
    <ion-button expand="full" color="light" (click)="goBack()">Volver</ion-button>
  </form>
</ion-content>
