<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de fichajes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/usuarios/inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="realizarFichaje" href="/usuarios/realizarFichaje">
      <ion-icon name="swap-horizontal"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultarFichaje" href="/usuarios/consultarFichaje">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Consultar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
