<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>gestionFichajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de fichajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="search-container">
    <!-- Menú desplegable para buscar usuarios -->
    <ion-item (click)="toggleDesplegable()" class="dropdown-item">
      <ion-label>Seleccionar Usuario</ion-label>
      <ion-icon [name]="desplegableAbierto ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>

    <!-- Contenedor desplegable -->
    <div *ngIf="desplegableAbierto" class="desplegable-container">
      <ion-searchbar
        [(ngModel)]="filtroUsuario"
        (ionInput)="filtrarUsuarios()"
        placeholder="Buscar usuario por nombre"
        class="custom-searchbar">
      </ion-searchbar>
      <ion-list class="custom-list">
        <ion-item *ngFor="let usuario of usuariosFiltrados" (click)="actualizarFiltros('usuario', usuario)" class="custom-list-item">
          <ion-label>{{ usuario.Nombre }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Mostrar usuario seleccionado -->
    <ion-item *ngIf="usuarioSeleccionado" class="selected-user-item">
      <ion-label>Usuario Seleccionado:</ion-label>
      <ion-text>{{ usuarioSeleccionado.Nombre }}</ion-text>
      <ion-button fill="clear" slot="end" (click)="actualizarFiltros('usuario', null)">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list class="date-selection-list">
      <ion-item id="open-modal2" class="date-selection-item">
        <ion-label>Fecha de inicio</ion-label>
        <ion-note slot="end">{{fechaInicio | date}}</ion-note>
        <ion-button *ngIf="fechaInicio" fill="clear" slot="end" (click)="actualizarFiltros('fechaInicio', null)">
          <ion-icon name="close-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="fechaInicio"
            size="cover"
            [showDefaultButtons]="true"
            (ionChange)="actualizarFiltros(fechaInicio, $event.detail.value)"
            class="custom-datetime">
          </ion-datetime>
        </ng-template> 
      </ion-modal>
    </ion-list>
  </div>
  

  <ng-content *ngIf="fichajes.length > 0; else noFichajes">
    <div *ngFor="let fichaje of fichajes">
      <ion-card class="custom-card-fichaje">
        <ion-card-header>
          <ion-card-title>{{ fichaje.trabajoNombre }}</ion-card-title>
        </ion-card-header>
        <div style="display: flex; justify-content: center; text-align: center;">
          <p style="color: black;"><strong>{{fichaje.usuarioNombre}}</strong></p>
        </div>
        <ion-card-content>
          <p><strong>Horas de entrada:</strong> {{ fichaje.FechaHoraEntrada }}</p>
          <p><strong>Horas Trabajadas:</strong> {{ fichaje.HorasTrabajadas }}</p>
          <p><strong>Horas de salida:</strong> {{ fichaje.FechaHoraSalida }}</p>
          <p><strong>Dirección:</strong> {{ fichaje.direccion }}</p>
          
          <div class="button-container">
            <ion-button 
              fill="clear" 
              color="primary" 
              (click)="toggleMapa(fichaje)">
              <ion-icon name="eye-outline" slot="start"></ion-icon>
              {{ fichaje.mostrarMapa ? 'Ocultar Mapa' : 'Mostrar Mapa' }}
            </ion-button>
          </div>

          <div *ngIf="fichaje.mostrarMapa" class="map-container">
            <div id="mapId-{{ fichaje.idFichaje }}" style="width: 100%; height: 300px"></div>
          </div>          
        </ion-card-content>
      </ion-card>
    </div>
  </ng-content>

  <ng-template #noFichajes>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay trabajos registrados</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>

<style>
  .divider {
    height: 1px;
    background-color: var(--ion-color-light);
    margin: 16px 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .search-container {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .dropdown-item {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
  }

  .desplegable-container {
    margin-top: 8px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .custom-searchbar {
    --background: #000000;
    --border-radius: 8px;
    -webkit-padding-start: 0;
    --padding-inline-start: 0;
    margin: 8px;
  }

  .custom-list {
    max-height: 200px;
    overflow-y: auto;
  }

  .custom-list-item {
    cursor: pointer;
  }

  .selected-user-item {
    margin-top: 16px;
    background-color: #ffffff;
    border-radius: 8px;
  }

  .date-selection-list {
    margin-top: 16px;
  }

  .date-selection-item {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
  }

  .custom-datetime {
    --background: #000000;
    --border-radius: 8px;
  }
</style>
