<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página de Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="button-container">
    <ion-button expand="block" color="primary" (click)=realizarFichaje() >
      Realizar fichajes
    </ion-button>
    <ion-button expand="block" color="secondary" (click)=consultarFichaje() >
      Consultar fichajes
    </ion-button>
  </div>
</ion-content>

<style>
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20vh;
  }

  ion-button {
    width: 80%;
    max-width: 400px;
  }
</style>